@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #e2e2e2;
}

.main__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
}
.header__title {
  color: #3b5bdb;
}
.header__input--search {
  width: 400px;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 195px;
  padding: 20px;
  background-color: white;
  margin-bottom: 25px;
}

.form__container {
  background-color: white;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__input-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
.form__input--text {
  width: 100%;
}
.form__button--add-task {
  border: 0;
  color: white;
  background-color: #3b5bdb;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.form__input--priority {
  width: 45%;
  color: rgb(98, 97, 97);
}

.tasks__container {
  background-color: white;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input__box {
  border: 0;
  background-color: #ebebeb;
  padding: 8px;
  border-radius: 5px;
}
.task__button--remove-task {
  width: 15px;
  height: 15px;
  background: url("assets/trash-icon.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.task__item {
  display: flex;
  justify-content: space-between;

  margin: 15px;
  background-color: #f1f3f5;
  border-radius: 5px;
  padding: 15px;
}
.task-type {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 2px;
}
.span-urgent {
  background-color: #e74c3c; /* vermelho */
}

/* Amarela - Importante */
.span-important {
  background-color: #f1c40f; /* amarelo */
}

/* Verde - Normal */
.span-normal {
  background-color: #2ecc71; /* verde */
}
.task-info__container {
  display: flex;
  flex-direction: row;
}
